@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Raleway:400,700');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: white;
	color: black;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}


h1{
	text-align: center;
	font-family: 'Abril Fatface', cursive;
	font-size: 30px;
}
h2{
	font-family: 'Raleway', sans-serif;
	font-weight: 700px;
	margin-left:10em;
	margin-right:10em;
	text-align: center;
	font-size:40px;
	color: black;
	margin-bottom: 10px;
}


#slogan{
	text-align: center;
	font-style: italic;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	font-weight:700px;
}

img {
	max-width: 100%;
	height: auto;
}

header{
	border: 1px black solid;
	padding: 20px;
}

footer{
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
	text-align: right;
}

#container {
	margin: 0 auto;
	width: 900px;
	background-color: #ffffff;
}

nav a:hover { 
  background-color: black; 
  color:white;
}

.column {
	float: left;
	width: 260px;
  	height: 300px;
	padding: 20px;
	margin: 0;
}

#column1 {
  background-color: #aaaaaa;
  border: 1px black solid;
  padding: 20px;
}

#column2 {
  background-color: #aaaaaa;
  border: 1px black solid;
  padding: 20px;
}

#column3 {
  background-color: #aaaaaa;
  border: 1px black solid;
  padding: 20px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  clear: both;
  height: 0;
}

