@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Raleway:400,700');


body{
	background: white;
	color: #bb8bf9;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

div{
	height:.25em;
	margin: 0;
	display: inline-block;
	background-color: black;
	color: white;
	align-items: center;
}


h1{
	text-align: center;
	font-family: 'Abril Fatface', cursive;
	font-size: 48px;
}
h2{
	font-family: 'Raleway', sans-serif;
	font-weight: 700px;
	margin-left:6em;
	margin-right:6em;
	text-align: center;
	font-size:24px;
}

hr{
	width:500px;
}

p{
	font-family: 'Raleway', sans-serif;
	font-weight: 400px;
	font-size:18px;
	margin-left:3em;
	margin-right:3em;
	text-align: center;

}
ul{
	text-align: center;
	list-style-type: none;

}

li{
	font-family: 'Raleway', sans-serif;
}

#slogan{
	text-align: center;
	font-style: italic;
	font-size: 24px;
	font-family: 'Raleway', sans-serif;
	font-weight:700px;
}

#layout{
	align-self: center
}

img {
	max-width: 100%;
	height: auto;
}